# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
env/
venv/
.venv/

# Django
db.sqlite3
*.log
staticfiles/
media/
*.pot
*.pyc

# MacOS
.DS_Store

# VSCode
.vscode/

# Environment and credentials
.env
*.env

# Node.js
node_modules/
npm-debug.log

# Byte-compiled / Cache files
*.py[co]

# Git
.git/
